@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<TravelAgency_MVC.Models.Hotel>

@{
    ViewData["Title"] = "Index";
}

@if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UsuarioAutenticado")))
{
    var isAdmin = HttpContextAccessor.HttpContext.Session.GetString("isAdmin");
    var isAdminBool = !string.IsNullOrEmpty(isAdmin) && bool.Parse(isAdmin);
    @if (isAdminBool)
    {
        <h1 class="styled-title">Administracion de hoteles</h1>
        <hr />
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    else
    {
        <h1 class="styled-title">Reserva de hoteles</h1>
        <hr />
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            <p>@TempData["ErrorMessage"]</p>
        </div>
    }
    else if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            <p>@TempData["Message"]</p>
        </div>
    }
    @if (!isAdminBool)
    {
        <div>
            <form method="get" asp-action="Index">
                <label for="searchCity">Buscar por ciudad:</label>
                <input type="text" id="searchCity" name="searchCity" />
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
            </form>
        </div>
    }
    <table class="table mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Capacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @if (!isAdminBool)
                {
                    <th>Fecha de entrada</th>
                    <th>Fecha de salida</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.cityName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @if (isAdminBool)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                    else
                    {
                        <form asp-controller="Hotels" asp-action="Reserve" method="post">
                        <td><input type="date" name="dSince" asp-format="{0:yyyy-MM-dd}" /></td>
                        <td><input type="date" name="dUntil" asp-format="{0:yyyy-MM-dd}" /></td>
                        <td>
                                @Html.AntiForgeryToken()
                            <input type="hidden" name="idHotel" value="@item.Id" />
                            <input type="hidden" name="idUser" value="@HttpContextAccessor.HttpContext.Session.GetString("Id")" />
                            <label for="sites">Lugares:</label>
                            <input type="number" name="people" value="1" min="1" max="10" />
                            <button class="btn btn-primary" type="submit"><i class="fa-solid fa-hotel"></i> Reservar Hotel</button>

                        </td>
                        </form>
                    }
                </tr>
            }
        </tbody>
    </table>
}