@model TravelAgency_MVC.Models.FlightReservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FlightReservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.myFlight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.myFlight.aircraft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.myUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.myUser.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amountPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amountPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sites)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
