@model TravelAgency_MVC.Models.Flight

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.origin.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destination.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soldFlights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soldFlights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flightPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flightPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.airline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aircraft)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
