@model TravelAgency_MVC.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.origin.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destination.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soldFlights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soldFlights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.flightPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.flightPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.airline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aircraft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aircraft)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
